*.o
btprint
test-bins
test-ngread
mkbins
test-binsize
showbin
temp-tapes/
test-sfbtin.output/
judysort-prepare-tapes
hashbins-to-sfbt
hashbins-to-sfbti
mergetapes-to-sfbti
mergetapes-to-sfbtin
sfbt-hashbins-lookup
sfbti-hashbins-lookup
sfbtin-hashbins-lookup
test-judysort
test-mergetapes
*.log
test-wordhash-c
test-wordhash-j
test-wordhash
